<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cuentas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/cuentas}">Control de cuentas</a>
    <a class="navbar-brand" th:href="@{/cuentas/nuevo}">Registrar cuenta</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="navbar-nav">
                <a class="nav-link" th:href="@{/cuentas}">Control de cuentas</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div>
        <h1>Lista de cuentas</h1>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Pass</th>
            <th scope="col">Capacidad</th>
            <th scope="col">FechaVence</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="cuenta : ${cuentas}">
            <tr th:if="${cuenta.fechaVence} == ${localDateTime}" class="p-3 mb-2 bg-danger text-white">
                <th scope="row" th:text="${cuenta.id}">1</th>
                <td th:text="${cuenta.email}">email</td>
                <td th:text="${cuenta.pass}">pass</td>
                <td th:text="${cuenta.capacity}">capacity</td>
                <td th:text="${cuenta.fechaVence}">Fecha</td>
                <td th:text="${cuenta.type}">tipo</td>
                <td>
                    <a th:href="@{/cuentas/editar/{id}(id=${cuenta.id})}" class="btn btn-info">Editar</a>
                    <a th:href="@{/cuentas/{id}(id=${cuenta.id})}" class="btn btn-danger">Eliminar</a>
                    <a th:href="@{/pantallas/{id}(id=${cuenta.email})}" class="btn btn-primary">Pantallas</a>
                </td>
            </tr>
            <tr th:if="${cuenta.fechaVence} != ${localDateTime}">
                <th scope="row" th:text="${cuenta.id}">1</th>
                <td th:text="${cuenta.email}">email</td>
                <td th:text="${cuenta.pass}">pass</td>
                <td th:text="${cuenta.capacity}">capacity</td>
                <td th:if="${cuenta.fechaVence} != ${localDateTime}" th:text="${cuenta.fechaVence}">Fecha</td>
                <td th:text="${cuenta.type}">tipo</td>
                <td>
                    <a th:href="@{/cuentas/editar/{id}(id=${cuenta.id})}" class="btn btn-info">Editar</a>
                    <a th:href="@{/cuentas/{id}(id=${cuenta.id})}" class="btn btn-danger">Eliminar</a>
                    <a th:href="@{/pantallas/{id}(id=${cuenta.email})}" class="btn btn-primary">Pantallas</a>
                </td>
            </tr>
        </div>


        </tbody>
    </table>

</div>
</body>
</html>