<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/cuentas}">Control de cuentas</a>
    <a class="navbar-brand" href="#">Editar cuenta</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="navbar-nav">
                <a class="nav-link" th:href="@{/cuentas}">Control de cuentas</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Registro de cuenta</h1>
            <div class="card-body">
                <form th:action="@{/cuentas/{id}(id=${cuenta.id})}" th:object="${cuenta}" method="POST">
                    <div class="form-grup">
                        <label>
                            Email :
                        </label>
                        <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-grup">
                        <label>
                            Password :
                        </label>
                        <input type="text" name="pass" th:field="*{pass}" class="form-control"
                               placeholder="Contrasenia">
                    </div>
                    <br>
                    <div class="form-grup">
                        <label>
                            Capacidad :
                        </label>
                        <input type="number" name="capacity" th:field="*{capacity}" class="form-control"
                               placeholder="Capacidad de pantallas">
                    </div>
                    <br>
                    <div class="form-grup">
                        <label>
                            Fecha finaliza:
                        </label>
                        <input type="date" name="fechaVence" th:field="*{fechaVence}" class="form-control"
                               placeholder="Fecha finaliza membresia">
                    </div>
                    <br>
                    <div class="form-grup">
                        <label>
                            Tipo de cuenta:
                        </label>
                        <input type="text" name="type" th:field="*{type}" class="form-control"
                               placeholder="Fecha finaliza membresia">
                    </div>
                    <br>
                    <div class="box-footer">
                        <button class="tbn btn-success">Guardar</button>

                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>