<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cuentas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/cuentas}">Control de cuentas</a>
    <a class="navbar-brand" th:href="@{/pantallas/nuevo}">Registrar pantalla</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="navbar-nav">
                <a class="nav-link" th:href="@{/cuentas}">Control de cuentas</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1>Lista de pantallas</h1>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Final</th>
            <th scope="col">Nombre</th>
            <th scope="col">Pin</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pantalla : ${pantallas}">
            <th scope="row" th:text="${pantalla.id}">1</th>
            <td th:text="${pantalla.email}">email</td>
            <td th:text="${pantalla.fechaInicio}">pass</td>
            <td th:text="${pantalla.fechaVence}">capacity</td>
            <td th:text="${pantalla.name}">pass</td>
            <td th:text="${pantalla.pin}">pass</td>
            <td>
                <a th:href="@{/pantallas/editar/{id}(id=${pantalla.id})}" class="btn btn-info">Editar</a>
                <a th:href="@{/pantallas/eliminar/{id}(id=${pantalla.id})}" class="btn btn-danger">Eliminar</a>
                <a th:href="@{/pantallas/entrega/{id}(id=${pantalla.id})}" target="_blank" type="button" class="btn btn-warning">Entregar</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>